In [1]:
from chase.base import *
from chase.utils import *
from chase.fit import *
from mypy.explib.frey2014 import frey2014
pd.set_option('display.max_colwidth', 100)

In [ ]:
arr = []
for sid in frey2014.subjects():
    print sid
    data = frey2014.subject_fitdata(sid)
    for d in data:
        arr.append([sid, d['gid'], d['group'], d['data'][0,0], d['data'][0,1]])
        
    df = pd.DataFrame(arr, columns=['subject', 'problem', 'group', 'choice', 'samplesize'])
df.to_csv('frey_data.csv')

In [2]:
df = frey2014.load_data()

In [35]:
df.to_csv('/Users/markant/Dropbox/SequentialSamplingDFE/frey_trial_data.csv')

In [2]:
data = pd.read_csv('data/frey_data.csv', index_col=0)
problems = {gid: frey2014.get_options(gid) for gid in data.problem.unique()}
data.head(10)

   subject problem  group  choice  samplesize
0        1    S1G1      0       0          12
1        1    S2G1      0       1          10
2        1    S3G1      0       0          10
3        1    S4G1      0       0          10
4        1    S5G1      0       0          10
5        1    S6G1      0       1          10
6        1    S7G1      0       0          10
7        1    S8G1      0       0          12
8        1    S9G1      0       0          10
9        1   S10G1      0       0          10

# Fit individual subjects

In [4]:
data.subject.unique()[10]

13

In [7]:
# a list of possible free parameters and their ranges
# and starting point (optional)
PARS = {'theta': [1, 10],
        'p_stay': [0, 1],
        'tau': [0, 1, .5],
        'prelec_gamma': [0, 5, 1],
        'prelec_elevation': [0, 5, 1],
        'pow_gain': [0., np.inf, 1.],
        'w_loss': [0., np.inf, 1.]}

# parameters that are set to fixed values 
FIXED = {'c': 0.5}

N_ITER = 3
OUTDIR = 'chase_fitresults_frey_individual'

# a list of different parameter combinations that will
# be fit
PARSETS = [['theta', 'p_stay', 'tau'],
           ['theta', 'p_stay', 'tau', 'prelec_gamma', 'prelec_elevation'],
           ['theta', 'p_stay', 'tau', 'pow_gain', 'w_loss'],
           ]

In [20]:
sset = [2, 6, 9, 12, 13]

In [8]:
for sid in data.subject.unique()[:5]:

    SIM_ID = 'frey_individual_subj=%s' % sid

    for parset in PARSETS:

        fitting = {p: PARS[p] for p in parset}

        # initialize the model
        m = CHASEModel(drift='cpt',
                       startdist='laplace')

        # fit
        results = fit_mlh(m, problems, data[data.subject==sid], 
                          SIM_ID, FIXED, fitting, niter=N_ITER, outdir=OUTDIR)

        print results.sort('nllh').head(1)

frey_individual_subj=1(p_stay,tau,theta|c=0.5)
0/30
theta: 1.0
iteration            0
success           True
nllh          334.6236
k                    3
N                   84
bic           682.5397
theta                1
p_stay       0.9030023
tau          0.1631628
Name: 0, dtype: object
1/30
theta: 2.0
iteration               0
success              True
nllh              319.718
k                       3
N                      84
bic              652.7284
theta                   2
p_stay          0.6658739
tau          2.354073e-07
Name: 1, dtype: object
2/30
theta: 3.0
iteration               0
success              True
nllh             318.0681
k                       3
N                      84
bic              649.4286
theta                   3
p_stay          0.2829321
tau          7.979239e-08
Name: 2, dtype: object
3/30
theta: 4.0
iteration               0
success              True
nllh             310.6448
k                       3
N                      84
bic               634.582
theta                   4
p_stay         0.03349186
tau          4.596305e-06
Name: 3, dtype: object
4/30
theta: 5.0
iteration            0
success           True
nllh          348.6521
k                    3
N                   84
bic           710.5966
theta                5
p_stay       0.0885326
tau          0.2236938
Name: 4, dtype: object
5/30
theta: 6.0
iteration               0
success              True
nllh              357.858
k                       3
N                      84
bic              729.0085
theta                   6
p_stay       1.841752e-08
tau             0.1863084
Name: 5, dtype: object
6/30
theta: 7.0
iteration               0
success              True
nllh              394.062
k                       3
N                      84
bic              801.4165
theta                   7
p_stay       1.313062e-09
tau             0.8935939
Name: 6, dtype: object
7/30
theta: 8.0
iteration               0
success              True
nllh             406.5439
k                       3
N                      84
bic              826.3803
theta                   8
p_stay       1.082745e-05
tau             0.9999729
Name: 7, dtype: object
8/30
theta: 9.0
iteration               0
success              True
nllh             417.1722
k                       3
N                      84
bic              847.6368
theta                   9
p_stay       1.129866e-05
tau             0.9981399
Name: 8, dtype: object
9/30
theta: 10.0
iteration               0
success              True
nllh             426.3998
k                       3
N                      84
bic               866.092
theta                  10
p_stay       1.216278e-05
tau             0.9999977
Name: 9, dtype: object
10/30
theta: 1.0
iteration            1
success           True
nllh          334.6236
k                    3
N                   84
bic           682.5397
theta                1
p_stay       0.9030023
tau          0.7649973
Name: 10, dtype: object
11/30
theta: 2.0
iteration               1
success              True
nllh              319.718
k                       3
N                      84
bic              652.7285
theta                   2
p_stay          0.6660305
tau          6.049992e-07
Name: 11, dtype: object
12/30
theta: 3.0
iteration               1
success              True
nllh             318.0681
k                       3
N                      84
bic              649.4286
theta                   3
p_stay          0.2831514
tau          7.091459e-08
Name: 12, dtype: object
13/30
theta: 4.0
iteration               1
success              True
nllh             310.6447
k                       3
N                      84
bic              634.5819
theta                   4
p_stay         0.03346694
tau          2.725253e-06
Name: 13, dtype: object
14/30
theta: 5.0
iteration             1
success            True
nllh           348.6521
k                     3
N                    84
bic            710.5966
theta                 5
p_stay       0.08854691
tau           0.2236416
Name: 14, dtype: object
15/30
theta: 6.0
iteration               1
success              True
nllh             357.8578
k                       3
N                      84
bic              729.0081
theta                   6
p_stay       3.578398e-08
tau             0.1853428
Name: 15, dtype: object
16/30
theta: 7.0
iteration               1
success              True
nllh              394.062
k                       3
N                      84
bic              801.4165
theta                   7
p_stay       3.303754e-09
tau              0.893573
Name: 16, dtype: object
17/30
theta: 8.0
iteration               1
success              True
nllh             406.5445
k                       3
N                      84
bic              826.3815
theta                   8
p_stay       1.347579e-05
tau             0.9999486
Name: 17, dtype: object
18/30
theta: 9.0
iteration               1
success              True
nllh             417.0568
k                       3
N                      84
bic              847.4061
theta                   9
p_stay       1.911176e-07
tau             0.9999936
Name: 18, dtype: object
19/30
theta: 10.0
iteration               1
success              True
nllh             426.4013
k                       3
N                      84
bic              866.0951
theta                  10
p_stay       1.314584e-05
tau             0.9999828
Name: 19, dtype: object
20/30
theta: 1.0
iteration            2
success           True
nllh          334.6236
k                    3
N                   84
bic           682.5397
theta                1
p_stay       0.9030023
tau          0.4321928
Name: 20, dtype: object
21/30
theta: 2.0
iteration              2
success             True
nllh             319.718
k                      3
N                     84
bic             652.7284
theta                  2
p_stay          0.665938
tau          1.48151e-07
Name: 21, dtype: object
22/30
theta: 3.0
iteration               2
success              True
nllh             318.0681
k                       3
N                      84
bic              649.4286
theta                   3
p_stay          0.2830993
tau          3.842745e-08
Name: 22, dtype: object
23/30
theta: 4.0
iteration              2
success             True
nllh            310.6448
k                      3
N                     84
bic             634.5821
theta                  4
p_stay        0.03344949
tau          1.00696e-05
Name: 23, dtype: object
24/30
theta: 5.0
iteration             2
success            True
nllh           348.6521
k                     3
N                    84
bic            710.5966
theta                 5
p_stay       0.08853759
tau           0.2236431
Name: 24, dtype: object
25/30
theta: 6.0
iteration               2
success              True
nllh             357.8578
k                       3
N                      84
bic              729.0081
theta                   6
p_stay       1.513735e-08
tau             0.1854261
Name: 25, dtype: object
26/30
theta: 7.0
iteration               2
success              True
nllh             394.0621
k                       3
N                      84
bic              801.4166
theta                   7
p_stay       1.387779e-17
tau             0.8921875
Name: 26, dtype: object
27/30
theta: 8.0
iteration               2
success              True
nllh              406.544
k                       3
N                      84
bic              826.3804
theta                   8
p_stay       3.530383e-05
tau             0.9999901
Name: 27, dtype: object
28/30
theta: 9.0
iteration               2
success              True
nllh             417.0617
k                       3
N                      84
bic              847.4158
theta                   9
p_stay       4.828335e-05
tau             0.9999287
Name: 28, dtype: object
29/30
theta: 10.0
iteration               2
success              True
nllh             426.5908
k                       3
N                      84
bic              866.4741
theta                  10
p_stay       2.897123e-07
tau             0.9981388
Name: 29, dtype: object
    iteration success        nllh  k   N        bic  theta    p_stay       tau
13          1    True  310.644745  3  84  634.58194      4  0.033467  0.000003
frey_individual_subj=1(p_stay,prelec_elevation,prelec_gamma,tau,theta|c=0.5)
0/30
theta: 1.0
iteration                   0
success                  True
nllh                 328.5752
k                           5
N                          84
bic                  679.3044
theta                       1
p_stay              0.9030013
prelec_elevation     1.208529
prelec_gamma         2.207338
tau                 0.8437492
Name: 0, dtype: object
1/30
theta: 2.0
iteration                      0
success                     True
nllh                    341.7479
k                              5
N                             84
bic                       705.65
theta                          2
p_stay                 0.5210777
prelec_elevation       0.5971468
prelec_gamma           0.4424342
tau                 1.790146e-10
Name: 1, dtype: object
2/30
theta: 3.0
iteration                      0
success                     True
nllh                    311.0107
k                              5
N                             84
bic                     644.1754
theta                          3
p_stay                   0.33877
prelec_elevation        1.554913
prelec_gamma             1.25271
tau                 9.301516e-10
Name: 2, dtype: object
3/30
theta: 4.0
iteration                      0
success                     True
nllh                    302.1031
k                              5
N                             84
bic                     626.3604
theta                          4
p_stay                0.03383833
prelec_elevation        2.066596
prelec_gamma           0.9574589
tau                 1.609737e-10
Name: 3, dtype: object
4/30
theta: 5.0
iteration                   0
success                  True
nllh                 333.7086
k                           5
N                          84
bic                  689.5714
theta                       5
p_stay              0.1067595
prelec_elevation     1.535179
prelec_gamma          1.40451
tau                  0.155483
Name: 4, dtype: object
5/30
theta: 6.0
iteration                      0
success                     True
nllh                    338.9646
k                              5
N                             84
bic                     700.0834
theta                          6
p_stay              2.872452e-10
prelec_elevation        1.938073
prelec_gamma            1.217377
tau                    0.1902211
Name: 5, dtype: object
6/30
theta: 7.0
iteration                      0
success                     True
nllh                    377.1482
k                              5
N                             84
bic                     776.4504
theta                          7
p_stay              7.413787e-11
prelec_elevation        1.060064
prelec_gamma            2.034041
tau                    0.6445073
Name: 6, dtype: object
7/30
theta: 8.0
iteration                      0
success                     True
nllh                    399.6824
k                              5
N                             84
bic                     821.5188
theta                          8
p_stay              2.329057e-11
prelec_elevation       0.8895981
prelec_gamma            2.129365
tau                    0.7113469
Name: 7, dtype: object
8/30
theta: 9.0
iteration                     0
success                    True
nllh                    403.218
k                             5
N                            84
bic                    828.5901
theta                         9
p_stay              0.002675698
prelec_elevation       1.378874
prelec_gamma           1.644104
tau                           1
Name: 8, dtype: object
9/30
theta: 10.0
iteration                     0
success                    True
nllh                   426.3112
k                             5
N                            84
bic                    874.7764
theta                        10
p_stay              2.68806e-06
prelec_elevation      0.9752115
prelec_gamma           1.038325
tau                   0.9999981
Name: 9, dtype: object
10/30
theta: 1.0
iteration                   1
success                  True
nllh                 328.5752
k                           5
N                          84
bic                  679.3044
theta                       1
p_stay              0.9030017
prelec_elevation      1.20858
prelec_gamma         2.207261
tau                 0.1515398
Name: 10, dtype: object
11/30
theta: 2.0
iteration                      1
success                     True
nllh                    312.8831
k                              5
N                             84
bic                     647.9204
theta                          2
p_stay                 0.6837167
prelec_elevation        1.504521
prelec_gamma            1.510407
tau                 3.762604e-10
Name: 11, dtype: object
12/30
theta: 3.0
iteration                      1
success                    False
nllh                    311.0074
k                              5
N                             84
bic                     644.1689
theta                          3
p_stay                 0.3368903
prelec_elevation        1.593718
prelec_gamma            1.222949
tau                 2.435295e-09
Name: 12, dtype: object
13/30
theta: 4.0
iteration                      1
success                     True
nllh                    302.5331
k                              5
N                             84
bic                     627.2203
theta                          4
p_stay                0.03407752
prelec_elevation        2.286184
prelec_gamma           0.8667613
tau                 6.449989e-08
Name: 13, dtype: object
14/30
theta: 5.0
iteration                   1
success                  True
nllh                 333.7086
k                           5
N                          84
bic                  689.5714
theta                       5
p_stay              0.1067551
prelec_elevation     1.535191
prelec_gamma         1.404509
tau                 0.1555225
Name: 14, dtype: object
15/30
theta: 6.0
iteration                      1
success                     True
nllh                    338.9639
k                              5
N                             84
bic                     700.0818
theta                          6
p_stay              2.982232e-09
prelec_elevation        1.937878
prelec_gamma            1.217448
tau                    0.1901424
Name: 15, dtype: object
16/30
theta: 7.0
iteration                      1
success                     True
nllh                    377.9437
k                              5
N                             84
bic                     778.0415
theta                          7
p_stay              9.975752e-10
prelec_elevation        1.049203
prelec_gamma             1.97902
tau                    0.6192933
Name: 16, dtype: object
17/30
theta: 8.0
iteration                     1
success                    True
nllh                   394.7562
k                             5
N                            84
bic                    811.6665
theta                         8
p_stay              4.37883e-09
prelec_elevation       2.325048
prelec_gamma          0.9962029
tau                   0.9450785
Name: 17, dtype: object
18/30
theta: 9.0
iteration                      1
success                    False
nllh                     404.073
k                              5
N                             84
bic                        830.3
theta                          9
p_stay              1.900735e-09
prelec_elevation        1.360353
prelec_gamma            1.653356
tau                    0.9717064
Name: 18, dtype: object
19/30
theta: 10.0
iteration                      1
success                     True
nllh                    413.8774
k                              5
N                             84
bic                     849.9088
theta                         10
p_stay              2.068169e-09
prelec_elevation       0.9375064
prelec_gamma            2.114956
tau                    0.9999995
Name: 19, dtype: object
20/30
theta: 1.0
iteration                      2
success                     True
nllh                    328.8231
k                              5
N                             84
bic                     679.8002
theta                          1
p_stay                 0.9025807
prelec_elevation        1.685371
prelec_gamma            1.694907
tau                 1.035869e-07
Name: 20, dtype: object
21/30
theta: 2.0
iteration                      2
success                     True
nllh                    312.8833
k                              5
N                             84
bic                     647.9206
theta                          2
p_stay                 0.6833497
prelec_elevation         1.50525
prelec_gamma            1.507538
tau                 2.211096e-10
Name: 21, dtype: object
22/30
theta: 3.0
iteration                      2
success                     True
nllh                    311.0656
k                              5
N                             84
bic                     644.2852
theta                          3
p_stay                 0.3390495
prelec_elevation        1.768648
prelec_gamma            1.132457
tau                 6.218621e-10
Name: 22, dtype: object
23/30
theta: 4.0
iteration                      2
success                     True
nllh                    302.1019
k                              5
N                             84
bic                     626.3578
theta                          4
p_stay                0.03384453
prelec_elevation        2.065831
prelec_gamma           0.9577121
tau                 9.156423e-09
Name: 23, dtype: object
24/30
theta: 5.0
iteration                   2
success                  True
nllh                 333.7086
k                           5
N                          84
bic                  689.5714
theta                       5
p_stay              0.1067627
prelec_elevation     1.535137
prelec_gamma         1.404555
tau                 0.1554957
Name: 24, dtype: object
25/30
theta: 6.0
iteration                      2
success                     True
nllh                    338.5814
k                              5
N                             84
bic                     699.3169
theta                          6
p_stay              5.600763e-09
prelec_elevation        1.744141
prelec_gamma            1.319399
tau                    0.1856088
Name: 25, dtype: object
26/30
theta: 7.0
iteration                      2
success                     True
nllh                    378.1134
k                              5
N                             84
bic                      778.381
theta                          7
p_stay              5.588943e-09
prelec_elevation        1.053372
prelec_gamma            1.961056
tau                    0.6135091
Name: 26, dtype: object
27/30
theta: 8.0
iteration                      2
success                     True
nllh                    394.7569
k                              5
N                             84
bic                     811.6679
theta                          8
p_stay              4.857554e-09
prelec_elevation        2.322707
prelec_gamma           0.9932218
tau                    0.9478921
Name: 27, dtype: object
28/30
theta: 9.0
iteration                   2
success                  True
nllh                 408.8315
k                           5
N                          84
bic                  839.8171
theta                       9
p_stay              0.1124095
prelec_elevation     1.332931
prelec_gamma         1.429778
tau                         1
Name: 28, dtype: object
29/30
theta: 10.0
iteration                      2
success                     True
nllh                    418.0692
k                              5

In [22]:
allresults = pd.DataFrame(columns=['sim_id', 'k', 'N', 'nllh', 'bic'])
for parset in PARSETS:
    fitting = {p: PARS[p] for p in parset}
    allresults.loc[allresults.shape[0]] = best_result('frey_individual_subj=%s' % sid, FIXED, fitting, outdir=OUTDIR, nopars=True)

allresults.sort('bic')

,sim_id,k,N,nllh,bic
0,"frey_individual_subj=15(p_stay,tau,theta|delta=0.5)",3,84,328.382953,670.058356
2,"frey_individual_subj=15(p_stay,pow_gain,tau,theta|delta=0.5)",4,84,326.263444,670.250156
1,"frey_individual_subj=15(p_stay,prelec_gamma,tau,theta|delta=0.5)",4,84,327.635621,672.994509